.error{
    img{
        display: block;
        margin-left: auto;
        margin-right: auto; 
    }
    p{
        color: #ff6060;
        width: 100%;
        font-weight: 500;
        font-size: 36px;
        text-align: center;
    }
    .link {
        color: black;
        margin: 3.95em 0;
        font-size: 18px;
        display: flex;
        justify-content: center;
    }
}